<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.timandzach.parksolid"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Parksolid</name>

    <description>
      Helping you park.
    </description>

    <author href="https://build.phonegap.com" email="lancina@wisc.edu">
        Tim Lancina
    </author>
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <access origin="*"/>
    <content src="index.html"/>


</widget>
