<!DOCTYPE html>
    <head>
      <meta charset="utf-8">
      <title>Parky</title>
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

      <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
      <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
      <script type="text/javascript" src="js/geoFire.js"></script>

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGBlm0sR7qvyOtPx3VkZMR_nijk6XYiHI&sensor=true&libraries=places">
      </script>

      <link rel="stylesheet" href="css/ionic.css">
      <link rel="stylesheet" href="css/parky.css">

      <script src="js/ionic.js"></script>
      <script src="js/ionic.js"></script>
      <script src="js/angular/angular.js"></script>
      <script src="js/angular/angular-animate.js"></script>
      <script src="js/angular/angular-route.js"></script>
      <script src="js/angular/angular-touch.js"></script>
      <script src="js/angular/angular-sanitize.js"></script>
      <script src="js/ionic-angular.js"></script>
      <script src='js/angularfire.js'></script>
      <script src='cordova.js'></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>

      <link rel="stylesheet" type="text/css" href="css/parky.css"></link>
      <script type='text/javascript' src='js/app.js'></script>
      <script type='text/javascript' src='js/directives.js'></script>
      <script type='text/javascript' src='js/services.js'></script>
      
    </head>
    <body ng-app="parky">

      <ng-view></ng-view>

      <script id="login.html" type="text/ng-template">
        <header class="bar bar-header bar-calm">
          <h1 class="title">Parky</h1>
        </header>
        <content has-header="true" scroll="false">
          <form id="login_form" method="post">
            <div class="list padding">
              <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="loginForm.email" placeholder="">
              </label>
              <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="loginForm.password" placeholder="">
              </label>
              <button class="button button-block button-calm" ng-click="login(loginForm)">Login</button>
              <button class="button button-block button-calm" ng-click="openModal()">No Account? Register here</button>
            </div>
          </form>
          <div>{{error}}</div>
        </content>
      </script>

      <script id="registermodal.html" type="text/ng-template">
        <div class="modal">
          <header class="bar bar-header bar-calm">
            <h1 class="title">Register</h1>
            <button class="button button-clear" ng-click="closeModal()">Cancel</button>
          </header>
          <content has-header="true"scroll="false">
            <form id="register_form" method="post">
              <div class="padding">
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="registerForm.email" placeholder="">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="registerForm.password" placeholder="">
                  </label>
                  <button class="button button-full button-calm" ng-click="register(registerForm)">Create Account</button>
                </div>
              </div>
            </form>
          </content>
        </div>
      </script>

      <script id="map.html" type="text/ng-template">
        <side-menus>
          <img ng-click="snapToLocation()" id="target" src="img/locate.png">
          <pane side-menu-content>
            <header class="bar bar-header bar-calm">
              <button class="button button-calm" ng-click="toggleMenu()">
                <i class="icon ion-navicon"></i>
              </button>
              <h1 class="title">Parky</h1> 
              <button class="button button-calm" ng-click="logout()">
                <i class="icon ion-log-out"></i>
              </button>
            </header>
            <content has-header="true" scroll="false">
              <div id="mapContainer">
                <div google-map class="map"></div>
              </div>
              <button ng-click="shareSpot()" class="button button-block button-energized">Share Spot</button>
            </content>
          </pane>
          <side-menu side="left">
            <header class="bar bar-header bar-calm">
              <h1 class="title">Options</h1>
            </header>
            <content has-header="true" scroll="false">
              <list>
                <a class="item item-icon-right" ng-click="clearDirections()">Clear Directions</a>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Search</span>
                  <input id="searchbox" ng-model="search" type="text" placeholder="Madison, WI">
                </label>
              </list>
            </content>
          </side-menu>
        </side-menus>
      </script>
    </body>
</html>
