#mapContainer {
    height: 100%;
    width: 100%;
}
.map {
  height: 100%;
  width: 100%;
}
#share {
  position: absolute;
  bottom: 0;
  margin: 0;
}
#target {
  position: absolute;
  z-index: 2;
  width: 35px;
  height: 35px;
  right: 5px;
  top: 50px;
}
