#mapContainer {
    height: 480px;
    width: 100%;
}
.map {
  height: 480px;
  width: 100%;
}
#target {
  position: absolute;
  z-index: 1;
  width: 35px;
  height: 35px;
  right: 5px;
  top: 5px;
}
